<h1>Editando una Categoría</h1>
 
<%= form_for :category, url: category_path(@category), method: :patch do |f| %>
 
  <% if @category.errors.any? %>
    <div id="error_explanation">
    <h2>
        <%= pluralize(@category.errors.count, "error") %> ha impedido que la categoría sea grabada:
    </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Guardar Categoría' %>
  </p>
 
<% end %>
 
<%= link_to 'Volver', categories_path %>