<h1>Nueva Categoría</h1>

<%= form_for :category, url: categories_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit 'Guardar Categoría' %>
  </p>
<% end %>

<%= link_to 'Volver', categories_path %>