<h1>Listado de Productos</h1>
 
<table>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Ver', product_path(product) %></td>
      <td><%= link_to 'Editar', edit_product_path(product) %></td>
      <td><%= link_to 'Borrar', product_path(product), method: :delete, data: { confirm: '¿Estás seguro?' } %></td>  
    </tr>
  <% end %>
</table>

<%= link_to 'Nuevo Producto', new_product_path %>
<%= link_to 'Inicio', controller: 'wellcome' %>