<h1>Nuevo Producto</h1>

<%= form_for :product, url: products_path do |f| %>
  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :precio %><br>
    <%= f.number_field :price, value: number_to_currency(delimiter: '', unit: ''), step: :any
%>
  </p>
 
  <p>
    <%= f.submit 'Guardar Producto' %>
  </p>
<% end %>

<%= link_to 'Volver', products_path %>